/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    /* color:red; */
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: 498px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* My Own Style
------------------------------------------------------------------------ */
.form_label
{
    width:15%;   
}

.doublepoint
{
    width:5%;
    text-align:center;
    }
    
.form_textbox
{
    width:25%;
    }
    
 .formtitle
 {
     text-align:center;
     font-weight:bold;
     }
     
 .pbold
 {
     font-weight:bold;
     line-height:5px;
     }
     
.bordertbl
{
     width:100%;
     border:1px solid black;
     border-collapse:collapse; }
     
.bordertr
{
    border:1px solid black; }
    
.bordertd
{
     border:1px solid black;
    }
    
 .bordertd_center
 {
     text-align:center;
     border:1px solid black;
     font-weight:bold;
 }

.pa_border_center {
    border:1px solid black;
    text-align:center;
}

.pa_form_header_center
{
    text-align:center;
    border:1px solid #000;
    font-weight:bold;
    background-color:#405b77;
    color:White;
    }
    
.pa_form_header_right
{
    text-align:right;
    border:1px solid #000;
    font-weight:bold;
    background-color:#405b77;
    color:White;
    }
    
 .pa_form_header
 {
    border:1px solid #000;
    font-weight:bold;
    background-color:#405b77;
    color:White;
 }
 
 .pa_form_history
 {
    border:1px solid #000;
    font-weight:bold;
    background-color:#eff0f0;
 }
 
 .pa_form_history_center
 {
    border:1px solid #000;
    font-weight:bold;
    background-color:#eff0f0;
    text-align:center; }

.pa_form_itemgroup
{
    text-align:center;
    border:1px solid #000;
    font-weight:bold; }
    
.pa_form_itemgroup_x
{
    text-align:center;
    border:1px solid #000;
    font-weight:bold;
    width:5%;
}
     
.pa_form_itemtitle
{
    font-weight:bold;
    width:50%;
    border:1px solid #000; }
   
   
    
.pa_form_col1
{
     width:5%;
      border:1px solid #000;
      text-align:center;
      }

.pa_form_col2
{
    width:45%;
    border:1px solid #000;
}

.pa_form_col3
{
    width:14%;
    border:1px solid #000;
    text-align:center;
}

.pa_form_col4
{
    width:10%;
    border:1px solid #000;
    text-align:center;
}

.pa_form_col5
{
    width:13%;
    border:1px solid #000;
    text-align:center;
}

.pa_form_col6
{
    width:13%;
    border:1px solid #000;
    text-align:center;
}

.pa_form_conversion
{
    width:13%;
    border:1px solid #000;
    text-align:center;
    background-color:#f2f2ee; }

.pa_textbox
{
    text-align:right;}
    

.pa_pass_tbl
{
    border-collapse:collapse;
     width:40%;
      border:1px solid black;
     }

.pa_table_left {
    border-collapse: collapse;
    width: 85%;
    border: 1px solid black;
    background-color: /*#ffffff*/ #fafafa;
    border: 1px solid #eff0f0;
    margin-left: 20px;
}

.pa_column_left {
    width:70%;
    float:left;
    /*background-color:green;*/
}

.pa_column_right{
    width:30%;
    float:right;
    background-color:#eff0f0;
    height:420px;
}
     
.pa_pass_btn
{
    width:40%;
     text-align:right;
     }

.pa_table_btn {
    margin-right: 20px;
    width:100%;
     text-align:right;
}

.pa_table_btn_left
{
    margin-left: 20px;
    width:60%;
     text-align:right;
     float:left;
     margin-top:4px;
     } 

.pa_table_btn_right
{
    margin-right: 20px;
    width:25%;
     text-align:right;
     float:right;
     }  
     
 .pa_pass_col1
 {
     padding:2%;
     width:15%
   }
 
  .pa_pass_col2
 {
     width:1%;
 }
 
  .pa_pass_col3
 {
     padding:2%;
     width:16%;
 }


 .pa_table_col1
 {
     padding:2%;
     width:32%
   }
 
  .pa_table_col2
 {
     width:4%;
 }
 
  .pa_table_col3
 {
     padding:2%;
     width:64%;
 }
 
 .pa_tbl
 {
     border-collapse:collapse;
     width:85%;
     border:1px solid black;
}
 
  .pa_col1
 {
     padding:2%;
     width:15%
   }
 
  .pa_col2
 {
     width:1%;
 }
 
  .pa_col3
 {
     padding:2%;
     width:26%;
 }
 
 .pa_btn
 {
     width:50%;
     text-align:right; }

.form_btn
{
   
    float:right;
    width:371px;
    display:inline-block;
    margin-bottom: 50px;
}

.form_btn_left
{
    float:left;}
    
.form_btn_right
{
    float:right;}
    
.pa_pass_search
{
    border-collapse:collapse;
     width:25%;
      border:1px solid #297ccf;
      background-color:#5e83a8;
     }
     
     .modalBackground
    {
        background-color: Black;
        -ms-filter: alpha(opacity=90);
        -ms-opacity: 0.8;
    }
    .modalPopup
    {
        background-color: #FFFFFF;
        border-width: 3px;
        border-style: solid;
        border-color: black;
        padding-top: 10px;
        padding-left: 10px;
        width: 300px;
        height: 140px;
        display:none;
    }
    
.training_tr
{
     height:60px;
     line-height:60px;
     vertical-align:top;
     }
     
.signature_header_tr
{
    height:20px;
    font-weight:bold;
    text-align:center;
    }
    
.signature_tr
{
    height:60px;
}

.pa_print_col1
{
     width:5%;
      border:1px solid black;
      text-align:center;
      }

.pa_print_col2
{
    width:28%;
    border:1px solid black;
}

.pa_print_col3
{
    width:33%;
     border:1px solid black;
    text-align:center;
}

.pa_print_col4
{
    width:8%;
     border:1px solid black;
    text-align:center;
}

.pa_print_col5
{
    width:8%;
    text-align:center;
     border:1px solid black;
}

.pa_print_col6
{
    width:8%;
    border:1px solid black;
    text-align:center;
}

.pa_print_merge
{
    width:71%;
    border:1px solid #000;
    }
    
.pa_print_p1_sign
{
    border:1px solid #000;
    width:33%;
}
.pa_print_p2_sign
{
    border:1px solid #000;
    width:33%;
}
.pa_print_p0_sign
{
    border:1px solid #000;
    width:34%;
}


@media print
{
    .print{
        font-size:5pt;
    }
}

.pa_font
{
    font-size:11px;
    background-color:White;
}

.pa_sum
{
    border:1px solid black;
    text-align:center;
    background-color:Yellow;
}

.default_tbl
{
    border-collapse:collapse;
    width:100%;
}

/**** PA form grade 1-8 *****/
.col1
{
    width:5%;
    border:1px solid black;
    text-align:center;
}

.col2
{
    width:28%;
    border:1px solid black;
}

.col3
{
    width:33%;
    border:1px solid black;
}

.col4
{
    width:10%;
    border:1px solid black;
}

.col5
{
    width:8%;
    border:1px solid black;
    text-align:center;
}

.col6
{
    width:8%;
    border:1px solid black;
    text-align:center;
}

.col7
{
    width:8%;
    border:1px solid black;
    text-align:center;
}

/**** PA Form Grade 12 up ****/
.rahasia
{
    background-color:Black;
    color:White;
    width:120px;
    text-align:center;
    float:right;
}

/***** Open Close Appraisal Period ******/
.oc_label
{
    width:15%;
}

.oc_content
{
    width:20%;
}

.oc_btn
{ 
     width:40%;
     text-align:right;
}


/***** IT Hardware Section *****/
.IT_formbtn
{
    width:25%;
     text-align:right;
     float:right;
     }  

.IT_header
{
    width:85%;
    font-weight:bold;
    font-style:italic;
    border:none;
    padding:5px;
}

.IT_title
{
    width:15%;
    font-weight:bold;
    padding:5px;
}

.IT_content
{
    width:35%;
    padding:5px;
}

.IT_left_content
{
    width:40%;
    padding:5px;
}

.IT_right_content
{
    width:30%;
    padding:5px;
}
/******************************/

 .accordionHeader {
            background-color: #5D7B9D;
                /*#2E4D7B;*/
            border: 1px solid #2F4F4F;
            color: white;
            cursor: pointer;
            font-family: Arial,Sans-Serif;
            font-size: 12px;
            font-weight: bold;
            margin-top: 5px;
            padding: 5px;
            width: 98%;
        }
        
        
        .href {
            color: White;
            font-weight: bold;
            text-decoration: none;
        }
        
          .accordionHeaderSelected {
            background-color: #5078B3;
            border: 1px solid #2F4F4F;
            color: white;
            cursor: pointer;
            font-family: Arial,Sans-Serif;
            font-size: 12px;
            font-weight: bold;
            margin-top: 5px;
            padding: 5px;
            width: 98%;
        }
        
        .accordionContent
        {
            background-color: #ececec;
            width: 98%;
            padding:5px;
            font-family: Arial,Sans-Serif;
            font-size:12px;
        }
        
        /* #ececec */
        .ddl
        {
            font-family: Arial,Sans-Serif;
            font-size:12px;
            /*font-style:italic;*/
        }
        
        .btn_right
        {
            float:right;
            padding:5px;
        }
      
         .watermarked
         {
             width: 320px;
             color:Gray;
             font-style:italic;
         }


.jp_title_tbl{
    width:100%;
    border-collapse:collapse;
    background-color:#eff0f0;
    border:1px solid black;
}

.hidden{
    display:none;
}

.gv_margin{
    padding-left:15px;
}



h2 span {font-size:10pt;font-weight:normal;font-style:italic;}

.currency_css {
    text-align:right;
}


.pa-tablebl{
    border:1px solid #666;
    outline: 0;
}
.pa-tablebl td{
    border-top:1px solid #666;
    border-left:1px solid #666;
    outline: 0;
}
.pa-tablebl tr:first-child td{
    border-top: 0;
}
.pa-tablebl tr td:first-child{
    border-left: 0;
}

.bordertd.highlight{
    background-color: #FFFF99 !important;
    
    padding: 0 0 0 5px;
}










/*modalmod*/
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

/*Modal 4.6*/
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    z-index: 1072;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.fade {
    transition: opacity .15s linear;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 576px) {
    .modal-sm {
        max-width: 300px;
    }
}
@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}


/*TAMBAH HR*/
.panel-title-content{
    padding: 10px;
    background: #4b6c9e;
    color: #FFF;
    margin: 0 -8px 20px;
    font-weight: bold;
}

.panel-search-content{
    padding: 10px 10px 30px 10px;
    margin: -18px -8px 0px -8px;
    border-bottom: solid 1px #b6b7bc;
}

.panel-search-content-border{
    padding: 10px 10px 30px 10px;
    margin: -18px -8px 0px -8px;
    border: solid 1px #b6b7bc;
}

.style-table{
    border:none;
}

.style-table tr th, 
.style-table tr td {
    border: none;
    padding: 10px 5px;
}

.style-table tr th{
    background: #5d7b9d;
    color:#FFF;
}

.style-table tr:nth-child(even){
    background-color: #f7f6f3;
}

/*.style-table tr:last-child > td{
    color:White;
    background-color:#284775;
    padding: 0;
}*/

.style-table tr:last-child > td > table{
    margin:auto;
}